body {
    display: grid;
    grid-template-areas: 
      "header        header"
      "left-controls ."
      "left-pane     right-pane";
}

#header {
    grid-area: header;
}

#left-controls {
    grid-area: left-controls;
}

#left-pane {
    grid-area: left-pane;
}

#right-pane {
    grid-area: right-pane;
}

