<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <title>PDF Transcribe</title>
        <meta name="description" content="Easily transcribe PDF">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="theme-color" content="#fafafa">
    </head>

    <body>
        <!--[if IE]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <h1 id="header">Transcribe PDF easily</h1>
        <div id="left-controls">
            <form id="url-form">
                <input type="text" placeholder="url to file"></input>
                <input type="submit" value="LOAD" id="loadButton"></input>
            </form>
        </div>
        <div id="left-pane">
            <canvas id="the-canvas"></canvas>
        </div>

        <div id="right-pane">
            Something in the right pane as well
            <div id="react-root"></div>
        </div>

    </body>

</html>

